@use "global" as *;

.p-contact {
  overflow: hidden;
  padding-bottom: rem(80);
  @include mq("md") {
    padding-bottom: rem(110);
  }
}

.p-contact__inner {
  @include mq("md") {
    max-width: calc(1068px + rem(25) * 2);
  }
}

.p-contact__text {
  font-size: rem(16);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.8px;
  font-weight: $medium;
  @include mq("md") {
    line-height: 2.2;
    font-size: rem(20);
  }
}

.p-contact__contents {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(48);
  }
}

.p-contact__bottom {
  margin-top: rem(65);
  @include mq("md") {
    margin-top: rem(110);
  }
}

.p-contact__tels {
  display: flex;
  flex-direction: column;
  gap: rem(20.8);
  margin-top: rem(30);
  justify-content: center;
  align-items: center;
  @include mq("md") {
    flex-direction: row;
    gap: rem(28);
    margin-top: rem(30);
  }
}

.p-contact__tel {
  display: inline-block;
  color: $white;
  font-weight: $bold;
  line-height: 1.4;
  letter-spacing: 0.96px;
  border-radius: 100px;
  border: 1px solid $red;
  background: $red;
  width: rem(300);
  padding: rem(20.8);
  text-align: center;
  @include mq("md") {
    width: rem(355);
    padding: rem(25);
  }
}

.p-contact__tel.p-contact__tel--bg {
  color: $red;
  border: 1px solid $red;
  background: #fff;
}

.p-contact__deco-texts {
  position: absolute;
  color: $white;
  font-weight: $medium;
  line-height: 1.5;
  z-index: 50;
  bottom: rem(14);
  left: 0;
  font-size: max(vw($full, 12), 12px);
  @include mq("md") {
    font-size: max(rem(10), 10px);
  }
  @include mq("ml") {
    font-size: max(rem(14), 14px);
  }
  @include mq("xl") {
    font-size: max(rem(16), 16px);
  }
}

.p-contact__deco-texts:nth-child(2) .p-contact__deco-text {
  margin-top: rem(13);
  @include mq("md") {
    margin-top: min(vw($full, 13), rem(13));
  }
}
