@use "global" as *;

.p-form {
  background-color: $beige;
  border-radius: 22px;
  position: relative;
  width: 100%;
  border: 5px solid $red;
  @include mq("md") {
    border: 10px solid $red;
    border-radius: 40px;
  }
  @include mq("ml") {
    border: 16px solid $red;
  }
}

.p-form__wrap {
  position: relative;
  z-index: 10;
  display: grid;
  gap: rem(30);
  padding: rem(32) rem(20) rem(210);
  @include mq(md) {
    align-items: center;
    gap: rem(40);
    padding: min(vw($full, 100), rem(100)) min(vw($full, 116), rem(116));
  }
}

.p-form__wrap::after {
  position: absolute;
  content: "";
  background-image: url(".././images/contact/form-deco.png");
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 100%;
  top: 0;
  left: rem(-1);
  width: rem(720);
  aspect-ratio: 650/1345;
  z-index: -1;
  @include mq("md") {
    aspect-ratio: 1068/1365;
    width: 100%;
    left: rem(-3);
  }
}

.p-form__wrap.p-form__wrap--big {
  @include mq("md") {
    gap: rem(85);
  }
}

.p-form__content {
  @include mq("md") {
    display: flex;
    gap: min(vw($full, 160), rem(98));
    align-items: start;
  }
}

.wpcf7-form init {
  display: grid;
  gap: min(vw($full, 40), rem(40));
}

.p-form__head {
  display: flex;
  align-items: center;
  gap: rem(10);
  @include mq(md) {
    width: 100%;
    max-width: min(vw($full, 226), rem(226));
    gap: min(vw($full, 22), rem(22));
  }
}

.p-form__content:not(:first-child) .p-form__head {
  @include mq("md") {
    padding-top: min(vw($full, 17), rem(17));
  }
}

.p-form__title {
  font-weight: $bold;
  cursor: pointer;
  font-size: rem(16);
  @include mq(md) {
    width: 100%;
    max-width: min(vw($full, 160), rem(160));
    font-size: max(min(vw($full, 20), rem(20)), 14px);
    display: block;
    font-weight: $medium;
    line-height: 20px;
    white-space: nowrap;
  }
}

.p-form__add {
  display: block;
  color: $white;
  width: 100%;
  font-size: rem(12);
  font-weight: $bold;
  line-height: 12px;
  letter-spacing: 0.24px;
  max-width: rem(35);
  text-align: center;
  padding: rem(6) rem(2);
  background-color: $red;
  border-radius: 5px;
  @include mq(md) {
    max-width: rem(44);
  }
}

.p-form__add.p-form__add--any {
  border: 1px solid #a3a3a3;
  background: #a3a3a3;
}

.p-form__item {
  margin-top: rem(10);
  @include mq(md) {
    width: 100%;
    max-width: min(vw($full, 800), rem(800));
    margin-top: 0;
  }
}

.p-form__item-post {
  position: relative;
  padding-left: rem(24);
  @include mq("md") {
    padding-left: rem(26);
  }
}

.p-form__item-margin {
  @include mq("md") {
    padding-top: min(vw($full, 17), rem(17));
  }
}

.p-form__item-post::before {
  content: "〒";
  display: inline-block;
  position: absolute;
  font-size: rem(16);
  top: 22%;
  left: 0;
  @include mq("md") {
    font-size: rem(20);
    top: 22%;
  }
}

.p-form__item-attention {
  display: grid;
  gap: rem(6);
}

.p-form__attention {
  font-weight: $medium;
  white-space: nowrap;
  font-size: rem(12);
  margin-top: rem(3);
  @include mq("md") {
    font-size: rem(16);
  }
}

.p-form__text-small {
  width: rem(160);
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: $white;
  padding: rem(10) rem(10) rem(10) rem(5);
  @include mq("md") {
    padding: rem(17) rem(16) rem(17) rem(5);
  }
}

.p-form__text {
  width: 100%;
  padding: rem(10);
  font-size: rem(16);
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: $white;
  transition: all 0.3s;
  @include mq(md) {
    padding: rem(12);
    font-size: max(min(vw($full, 20), rem(20)), 14px);
  }
}

.p-form__content.p-form__content--textarea {
  align-items: flex-start;
}

.p-form__textarea {
  width: 100%;
  height: rem(144);
  padding: rem(10) rem(10);
  font-size: rem(16);
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: $white;
  line-height: 1.4;
  transition: all 0.3s;
  @include mq(md) {
    height: min(vw($full, 296), rem(296));
    font-size: max(min(vw($full, 20), rem(20)), 14px);
    padding: min(vw($full, 18), rem(18));
  }
}

// /////////////////////////////////
// ラジオボタン
.p-form__radios {
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

[type="radio"] + span {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0 rem(40) 0 0;
  padding: 0 0 0 rem(30);
  position: relative;
  font-size: rem(16);
  @include mq("md") {
    font-size: rem(20);
    margin: 0;
  }
}

[type="radio"] + span::before {
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  content: "";
  display: block;
  height: rem(22);
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: rem(22);
}

[type="radio"]:checked + span::after {
  background: $red;
  border-radius: 50%;
  content: "";
  display: block;
  height: rem(10);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: rem(6);
  -webkit-transform: translateY(-50%);
  transform: translatey(-50%);
  width: rem(10);
}

.p-form__radio span:nth-child(1) label,
.p-form__radio span:nth-child(2) label {
  @include mq("mm") {
    margin-bottom: rem(27);
  }
}

.p-form__radio span:nth-child(1) label,
.p-form__radio span:nth-child(2) label,
.p-form__radio span:nth-child(3) label {
  margin-bottom: rem(10);
}

.p-form__radio span:nth-child(3) label {
  @include mq("md") {
    margin-bottom: 0;
  }
}

.p-form__radio span:nth-child(1) label,
.p-form__radio span:nth-child(3) label {
  @include mq("md") {
    margin-right: rem(25);
  }
}

input::placeholder,
textarea::placeholder {
  color: #c7c7c7;
  line-height: 1;
  @include mq("md") {
    font-size: max(min(vw($full, 20), rem(20)), 14px);
    line-height: 1.4;
  }
}

.wpcf7-list-item-label {
  text-align: center;
  font-size: rem(20);
  font-weight: $medium;
  line-height: 1.6;
  letter-spacing: 0.8px;
  position: relative;
}

.wpcf7-list-item label {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: start;
  @include mq("md") {
    align-items: center;
  }
}

.wpcf7-list-item {
  @include mq("md") {
    margin: 0;
  }
}

.p-form__btn {
  display: flex;
  justify-content: center;
  margin-top: rem(16);
}

.p-form__btn .c-btn {
  transition: all 0.3s;
  width: 100%;
  @include mq("md") {
    width: initial;
    &:hover {
      opacity: 0.8;
    }
  }
}

.p-form__btns {
  display: grid;
  margin-inline: auto;
  gap: rem(20);
  @include mq("md") {
    gap: rem(45);
  }
}

.wpcf7-spinner {
  display: none;
}

.p-form__consent {
  display: flex;
  align-items: center;
  justify-content: center;
}

// /////////////////////////////////
// チェックボックス

input[type="checkbox"] {
  display: block;
  width: rem(21);
  height: rem(19);
  border-radius: 2px;
  border: 1px solid #bcbcbc;
  background: $white;
  @include mq("md") {
    width: min(vw($full, 18), rem(18));
    height: min(vw($full, 18), rem(18));
  }
}

input[type="checkbox"] + span::before {
  border-bottom: 3px solid $black;
  border-left: 3px solid $black;
  content: "";
  display: block;
  top: 9%;
  left: -6%;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: rem(17);
  height: rem(9);
  @include mq(md) {
    left: min(vw($full, -18), rem(-18));
    width: min(vw($full, 21), rem(21));
    height: min(vw($full, 12), rem(12));
  }
}

input[type="checkbox"]:checked + span::before {
  opacity: 1;
}

[type="checkbox"] + span a {
  display: inline-block;
  color: #0090e1;
  font-style: normal;
  font-weight: $medium;
  line-height: 1.6;
  font-size: rem(14);
  @include mq("md") {
    font-size: rem(18);
  }
}

[type="checkbox"] + span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 1s ease 0s;
  font-size: rem(14);
  padding: 0;
  @include mq("md") {
    padding: 0 0 0 rem(8);
    font-size: rem(18);
  }
}

.p-form__privacy {
  text-align: center;
  margin-top: rem(5);
}
