@use "global" as *;

.p-calender {
  z-index: 800;
  padding-top: rem(40);
  @include mq("md") {
    padding-top: rem(65);
  }
}

.p-calender::before {
  position: absolute;
  content: "";
  top: vw(375, -40);
  left: 0;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(".././images/top/calender-bg-white__sp.png");
  width: 100%;
  height: 100%;
  z-index: -1;
  @include mq("md") {
    background-image: url(".././images/top/calender-bg-white__pc.png");
    top: vw($full, -85);
  }
}

.p-calender__inner {
  padding: 0;
  @include mq("md") {
    max-width: 1260px + strip-unit($padding-pc) * 2;
  }
}

.p-calender__wrap {
  padding: rem(90) 0 rem(40);
  background-image: url(".././images/top/calender-bg__sp.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.12));
  @include mq("md") {
    padding: rem(128) 0 rem(98);
    background-image: url(".././images/top/calender-bg__pc.png");
    text-align: center;
    filter: none;
  }
}

.p-calender__title__box {
  text-align: center;
}

.p-calender__text {
  font-weight: $medium;
  line-height: 2;
  letter-spacing: 0.32px;
  margin-top: rem(14);
  padding: 0 rem(36) 0 rem(30);
  @include mq("md") {
    line-height: 2.2;
    text-align: left;
    display: inline-block;
  }
}

.p-calender__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem(40);
  gap: rem(14);
  @include mq("md") {
    margin-top: rem(62);
    flex-direction: row;
    gap: rem(38);
  }
}

.p-calender__container {
  white-space: nowrap;
  margin-top: rem(34);
  overflow-x: auto; /* 横スクロールは有効 */
  overflow-y: hidden; /* 縦スクロールを無効化 */
  @include mq("md") {
    margin-top: rem(50);
  }
  @include mq("xl") {
    overflow: initial;
  }
}

/*スクロールバー非表示（Chrome・Safari）*/
.p-calender__container::-webkit-scrollbar {
  width: 0; /* これで縦スクロールバーを消します */
}

.p-calender__box {
  display: inline-block;
  min-width: rem(880);
  padding-left: rem(10);
  @include mq("md") {
    padding: 0 rem(80);
    min-width: rem(1033);
  }
}

.p-calender__name {
  font-size: rem(18);
  font-style: normal;
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.36px;
}

.p-calender__hed {
  z-index: 4;
  display: flex;
  padding-left: rem(53);
  height: rem(44);
  @include mq("md") {
    padding-left: 0;
    height: rem(54);
  }
  @include mq("xl") {
    top: 0;
    position: sticky;
  }
}

.p-calender__hed-left {
  @include mq("md") {
    margin-left: rem(67);
  }
}

.p-calender__heading {
  width: rem(281);
  text-align: center;
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.36px;
  text-align: center;
  padding: rem(10) 0;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  background-color: $white;
  @include mq("md") {
    font-size: rem(18);
    padding: rem(13) rem(151) rem(13) rem(156);
    width: rem(341);
  }
}

.p-calender__hed-right {
  display: flex;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}

.p-calender__hed-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.36px;
  background-color: $beige;
  border-left: 1px solid #dbdbdb;
  width: rem(94);
  @include mq("md") {
    font-size: min(vw($full, 18), rem(18));
    padding: rem(13) rem(10);
    width: rem(115.3);
  }
}

.p-calender__hed-text.p-calender__hed-text--bg {
  background-color: $white;
}

.p-calender__body {
  display: flex;
  height: rem(1083);
  @include mq("md") {
    height: rem(1325);
  }
}

.p-calender__left {
  width: rem(54);
  height: inherit;
  @include mq("md") {
    width: rem(67);
  }
}

.p-calender__apple,
.p-calender__peach,
.p-calender__nectarine,
.p-calender__plum,
.p-calender__chestnut,
.p-calender__grape {
  line-height: 1.6;
  color: $white;
  text-align: start;
  font-weight: $bold;
  line-height: 1.6;
  letter-spacing: 0.36px;
  border: 1px #dbdbdb;
  @include mq("md") {
    font-size: rem(18);
  }
}

.p-calender__apple,
.p-calender__peach,
.p-calender__plum,
.p-calender__chestnut,
.p-calender__grape {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.p-calender__apple {
  background-color: $red;
  padding: rem(15) rem(15) rem(10) rem(15);
  height: 48%;
  @include mq("md") {
    padding: rem(12) rem(19) rem(10) rem(19);
  }
}

.p-calender__peach {
  background-color: $pink;
  padding: rem(15) rem(15) rem(10) rem(15);
  height: 20%;
  @include mq("md") {
    padding: rem(12) rem(19) rem(10) rem(19);
  }
}

.p-calender__nectarine {
  background: #ba2b34;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.52px;
  padding: rem(15) rem(15) rem(5) rem(5);
  font-size: rem(10);
  height: 4%;
  @include mq("md") {
    padding: rem(19) rem(2);
    font-size: rem(13);
  }
}

.p-calender__plum {
  background-color: #9047a2;
  padding: rem(15) rem(15) rem(10) rem(15);
  height: 12.1%;
  @include mq("md") {
    padding: rem(12) rem(19) rem(10) rem(19);
  }
}

.p-calender__chestnut {
  background-color: #8c5e29;
  padding: rem(15) rem(15) rem(10) rem(15);
  height: 8%;
  @include mq("md") {
    padding: rem(12) rem(19) rem(10) rem(19);
  }
}

.p-calender__grape {
  background-color: #7152b4;
  padding: rem(15) rem(15) rem(10) rem(15);
  height: 8.1%;
  @include mq("md") {
    padding: rem(12) rem(19) rem(10) rem(19);
  }
}

.p-calender__right {
  width: rem(844);
  height: rem(1083);
  @include mq("md") {
    width: rem(1033);
    height: rem(1325);
  }
}

.p-calender__right img {
  width: rem(844);
  height: auto;
  @include mq("md") {
    width: rem(1033);
  }
}
