@use "global" as *;

.p-delivery-box{
  display: grid;
  align-items: start;
  border-radius: 40px;
  background: $white;
  box-shadow: -7px 8px 8px 0px rgba(195, 146, 94, 0.04);
  padding: rem(40) rem(20);
  @include mq("md") {
  grid-auto-flow: column;
  gap: rem(56);
  padding: rem(46) rem(57) rem(44)rem(40);
  }
}

.p-delivery-box__title{
  font-size: rem(30);
  font-family: $second-font-family;
  line-height: 1; 
  letter-spacing: 0.84px;
  width: rem(289);
  white-space: nowrap;
  @include mq("md") {
    font-size: rem(42);
  }
}

.p-delivery-box__text-wrap{
  margin-top: rem(40);
  @include mq("md") {
    display: grid;
    gap: rem(18);
    margin-top: 0;
  }
}

.p-delivery-box__text-box{
  display: flex;
  gap: rem(14);
  align-items: start;
}

.p-delivery-box__namber{
  flex-shrink: 0;
  width: rem(35);
  height: auto;
}

.p-delivery-box__namber img{
  object-fit: contain;
}

.p-delivery-box__text{
  line-height: 1.8; 
  letter-spacing: 0.32px;
}

.p-delivery-box__text span{
  color: $red;
}

.p-delivery-modal__btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(60);
  }
}