@use "global" as *;

.p-modal-box{
  position: relative;
  background: $white;
  border-radius: 40px;
  background: $white;
  box-shadow: -7px 8px 8px 0px rgba(195, 146, 94, 0.04);
  padding: rem(40) rem(20);
  @include mq("md") {
    padding: rem(60) rem(60) rem(50);
  }
}

.p-modal-box::before{
  position: absolute;
  content: "";
  background-image: url(".././images/common/tag.png");
  background-size: contain; 
  background-position: center;
  width: rem(42);
  height: rem(53);
  aspect-ratio: 42/53;
  top: rem(-18);
  right: 0;
  @include mq("md") {
    width: rem(64);
    height: rem(81);
    aspect-ratio: 64/81;
    top: rem(-34);
    right: rem(-13);
  }
}

.p-modal-box__title{
  color: $red;
  font-family: $second-font-family;
  font-size: rem(52);
  line-height: 1; 
  letter-spacing: 1.04px;
  text-align: center;
  @include mq("md") {
    font-size: rem(62);
    letter-spacing: 1.24px;
  }
}

.p-modal-box__title.p-modal-box__title--pink{
  color: $pink;
}

.p-modal-box__table{
  margin-top: rem(40);
  @include mq("md") {
     margin-top: rem(71);
  }
}

.p-modal-box__body{
  display: grid;
  gap: rem(20);
}

.p-modal-box__row{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: rem(2);
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: rem(14);
  @include mq("md") {
    flex-direction: row;
    gap: 20px;
  }
}

.p-modal-box__hed{
  width: rem(124);
  border-radius: 100px;
  background: $red;
  color: $white;
  text-align: center;
  line-height: 1; 
  letter-spacing: 0.32px;
  padding: rem(6) rem(21);
  flex-shrink: 0;
}

.p-modal-box__hed.p-modal-box__hed--pink{
  background-color: $pink;
}

.p-modal-box__data{
  line-height: 1.8; 
  letter-spacing: 0.32px;
  margin-top: rem(2);
  padding: 0;
  @include mq("md") {
    margin-top: 0;
  }
}