@use "global" as *;

.p-news-card{
  display: flex;
  gap: rem(16);
  position: relative;
  @include mq("md") {
    gap: rem(28);
  }
}

.recent-post.p-news-card::before{
  content: "";
  position: absolute;
  top: rem(-31);
  left: rem(8);
  background-image: url(".././images/top/new-tag.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: rem(58);
  height: rem(32);
  aspect-ratio: 58/32;
  animation: wobble 2s infinite;
  z-index: 100;
  @include mq("md") {
    width: rem(78);
    height: rem(44);
    aspect-ratio: 78/44;
    top: rem(-33);
    left: rem(10);
  }
} 

@keyframes wobble {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}


.p-news-card:hover{
  .p-news-card__img img{
    transform: scale(1.1, 1.1);
  }
}

.p-news-card__text-box{
  @include mq("md") {
    width: rem(300);
  }
}

.p-news-card__img{
  width: 100%;
  max-width: rem(146);
  aspect-ratio: 146/122;
  border-radius: 14px;
  overflow: hidden;
  @include mq("md") {
    max-width: rem(190);
    aspect-ratio: 190/120;
  }
}


.p-news-card__img img{
  transition: transform .6s ease;
  border-radius: 14px;
  height: 100%;
}  

.p-news-card__info{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  @include mq("md") {
    gap: rem(16);
    flex-direction: row-reverse;
    justify-content: start;
  }
}

.p-news-card__category{
  min-width: rem(93);
  color:$white;
  font-weight: $medium;
  line-height: 1; 
  letter-spacing: 0.32px;
  border-radius: 100px;
  background: $brown;
  margin-top: rem(2);
  padding: rem(6) rem(14);
  text-align: center;
  font-size: rem(14);
  @include mq("md") {
    font-size: rem(16);
    margin-top: 0;
  }
}

.p-news-card__date{
  line-height: 1.8; 
  letter-spacing: 0.32px;
}

.p-news-card__title{
  font-weight: $medium;
  line-height: 1.6; 
  letter-spacing: 0.32px;
  margin-top: 1rem;
  @include mq("md") {
    font-size: rem(18);
    letter-spacing: 0.36px;
    margin-top: rem(8);
  }
}