@use "global" as *;

.p-service-modal {
  position: fixed;
  top: 0;
  inset: 0;
  margin-inline: auto;
  padding: rem(108) 0 rem(80);
  border: none;
  background-color: transparent;
   overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }

.p-service-modal::-webkit-scrollbar {
    display:none;
    @include mq("md") {
      padding: rem(227) 0 rem(100);
    }
}

.p-service-modal::backdrop {
  background: rgba(0,0,0,0.5);
}


.p-service-modal__boxs{
  display: grid;
  gap: rem(58);
  @include mq("md") {
    grid-auto-flow: column;
    gap: rem(19);
  }
}

.p-service-modal__btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(70);
  }
}