@use "global" as *;

.p-voice-swiper{
  padding: rem(143) 0 0;
  @include mq("md") {
    padding: rem(206) 0 0;
  }
}

.p-voice-swiper-button{
  position: relative;
}

.p-voice-swiper-button-prev,
.p-voice-swiper-button-next {
  position: absolute;
  content: "";
  width: rem(48);
  height: rem(48);
  aspect-ratio: 1/1;
  top: initial;
  bottom: rem(-56);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq("xl") {
    bottom: rem(243);
  }
} 

.p-voice-swiper-button-prev {
  background-image: url(.././images/top/swiper-btn.png);
  left: rem(31);
  opacity: 1;
  transform: rotate(360deg);
  @include mq("xl") {
    left: rem(-98);
  }
}

.p-voice-swiper-button-next {
  background-image: url(.././images/top/swiper-btn.png);
  right: rem(31);
  transform: rotate(180deg);
  @include mq("xl") {
    right: rem(-98);
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.p-voice-swiper-pagination{
  position: relative;
}

 .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

 .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: rem(-44);
  @include mq("xl") {
    margin-top: rem(48);
    margin-top: 0;
    bottom: rem(-60);
  }
}

.swiper-pagination-bullet {
  width: rem(8);
  height: rem(8);
  background: $white 40%;
  @include mq("lg") {
    width: rem(10);
    height: rem(10);
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 rem(10);
  @include mq("lg") {
    margin: 0 rem(11);
  }
}

.swiper-pagination-bullet-active {
  background: $white;
}
