@use "global" as *;

.p-header__inner {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: $padding-sp;
  @include mq(md) {
    padding-right: rem(14);
  }
}

.p-header__logo {
  color: $red;
  font-family: fot-tsukuardgothic-std, sans-serif;;
  font-size: rem(21);
  font-weight: $bold;
  line-height: 1.8;
  letter-spacing: 0.84px;
  border-radius: 0px 1010px 1010px 0px;
  background: $white;
  padding: rem(3) rem(14) rem(3) rem(10);
  position: relative;
  @include mq(md) {
    font-size: rem(26);
    letter-spacing: 1.04px;
    width: rem(222); 
    padding: rem(4) rem(20);
  }
}

.p-header__hamburger {
  position: absolute;
  top: 0;
  right: rem(10);
  z-index: 5;
  width: rem(44);
  height: rem(44);
  padding: 0;
  @include mq(md) {
    display: none;
  }
}

.p-header__sp-nav {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}
