@use "global" as *;

.p-pc-nav {
  display: none;
  @include mq(md) {
    display: block;
    min-height: inherit;
    background-color: $white;
    border-radius: 50px;
  }
}

.p-pc-nav__items {
  display: flex;
  align-items: center;
  min-height: inherit;
  padding-left: min(vw($full,45),rem(45));
  padding-right: min(vw($full,12),rem(12));
}

.p-pc-nav__item {
  min-height: inherit;
}

.p-pc-nav__item:not(.p-pc-nav__item-dropdown) a {
  min-height: inherit;
  display: flex;
  align-items: center;
  padding: 0 min(vw($full, 21), rem(21));
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: min(vw($full, 18), rem(18));
  font-weight: $bold;
  line-height: 1;
}

.p-pc-nav__item > a{
  position: relative;
}

.p-pc-nav__item > a::before {
  content: 'â—'; 
  position: absolute;
  left: 50%; 
  top: 31%;
  transform: translatex(-50%); 
  color:transparent ; 
  font-size: 0.25em; 
  transition: all 0.3s;
}

.p-pc-nav__item a:hover{
  color: $red;
}

.p-pc-nav__item > a:hover::before {
  color: $red; 
}

.p-pc-nav__btn{
  margin-left: min(vw($full,21),rem(21));
}

.p-pc-nav__item-dropdown {
  position: relative;
}

