@use "global" as *;

.p-archive-news{
  padding-bottom: rem(60);
  @include mq("md") {
    padding-bottom: rem(130);
  }
}

.p-archive-news__items{
  display: grid;
  gap: rem(34);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr); 
    gap: rem(75); 
    row-gap: rem(85);
  }
}