@use "global" as *;

.p-privacy-policy {
  padding-bottom: rem(60);
  @include mq("md") {
    padding-bottom: rem(124);
  }
}

.p-privacy-policy__inner {
  max-width: 100%;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}

.p-privacy-policy__body p {
  font-weight: $medium;
  line-height: 1.8;
  letter-spacing: 0.64px;
  margin-top: rem(10);
}

.wp-block-heading {
  font-size: rem(28);
  font-weight: $medium;
  line-height: 1.2;
  letter-spacing: 1.12px;
  margin-top: rem(40);
  @include mq("md") {
    line-height: 2.2;
  }
}

.p-privacy-policy__list {
  list-style: auto;
  padding-left: rem(20);
  margin-top: rem(10);
}

.p-privacy-policy__list ol li {
  list-style: auto;
}

.p-privacy-policy__list ol {
  padding-left: rem(20);
}

.p-privacy-policy__list li {
  margin-top: rem(5);
  @include mq("md") {
    margin-top: rem(10);
  }
}

.p-privacy-policy__right {
  text-align: right;
}
