@use "global" as *;

.p-archive-pagenave {
  padding-bottom: rem(15);
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: rem(50);
  @include mq("md") {
    gap: rem(57);
  }
}

.page-numbers {
  position: relative;
  color: $red;
  display: flex;
  align-items: center;
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.36px;
  z-index: 20;
}

.page-numbers::before {
  content: "";
  position: absolute;
  width: rem(48);
  height: rem(48);
  top: 50%;
  left: 50%;
  background-color: $white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @include mq("md") {
    width: min(max(vw($full, 48), 35px), 48px);
    height: min(max(vw($full, 48), 35px), 48px);
  }
}

.page-numbers.current {
  position: relative;
  color: $white;
}

.page-numbers.current::before {
  content: "";
  position: absolute;
  width: rem(48);
  height: rem(48);
  top: 50%;
  left: 50%;
  background-color: $red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @include mq("md") {
    width: min(max(vw($full, 48), 35px), 48px);
    height: min(max(vw($full, 48), 35px), 48px);
  }
}
