@use "global" as *;

.p-big-dropdown {
  position: relative;
  display: inline-block;
}

.p-big-dropdown::before {
  position: absolute;
  content: "";
  background-image: url(".././images/common/arrow-red.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease; 
  width: 1em;
  height: 1em;
  transform: translateY(-50%) rotate(90deg);
  top: 50%;
  right: rem(10);
  @include mq("md") {
    width: 1.5em;
    height: 1.5em;
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
    right: rem(15);
    }
}

.p-big-dropdown.rotate::before {
  @include mq("md") {
    transform: translateY(-50%) rotate(270deg);
  }
}

.p-big-dropdown__body{
  display: inline-block;
  border-radius: 70px;
  background: $red;
  color: $white;
  font-weight: $bold;
  line-height: 1; 
  text-transform: capitalize;
  font-size: rem(10);
  padding: rem(10) rem(40) rem(10) rem(10);
  @include mq("md") {
    font-size: rem(18);
    padding: rem(18) rem(129) rem(20) rem(42);
  }
}

