@use "global" as *;

.p-title-box--bg {
  display: inline-block;
  width: min(vw(375, 288), rem(288));
  height: rem(80);
  padding: vw(375, 10) 0;
  border-top-right-radius: rem(30);
  @include mq("md") {
    width: min(vw($full, 548), rem(548));
    height: min(vw($full, 222), rem(222));
    background-image: url(".././images/contact/contact-mv-bg.png");
    padding: min(vw($full, 49), rem(49)) min(vw($full, 25), rem(25)) min(vw($full, 15), rem(15))
      min(vw($full, 130), rem(130));
  }
}

.p-title__sub {
  color: $brown;
  font-family: lato, sans-serif;
  font-weight: $bold;
  line-height: 1.2;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.p-title__main {
  color: $black;
  text-align: center;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: rem(26);
  font-weight: $bold;
  line-height: 1.8;
  letter-spacing: 1.04px;
  margin-top: rem(-4.4);
  @include mq("md") {
    display: inline-block;
    font-size: rem(40);
    letter-spacing: 1.6px;
    margin-top: rem(-2);
  }
}

.p-title__sub.p-title__sub--white {
  color: $white;
}

.p-title__main.p-title__main--white {
  color: $white;
}
