@use "global" as *;

.p-about-dropdown-label{
  position: relative; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: $red;
  color: $white;
  font-weight: $medium;
  line-height: 1;
  letter-spacing: 0.32px;
  transition: all 0.3s; 
  font-size: rem(10);
  padding:  rem(5) rem(15) rem(5) rem(10);
  @include mq("md") {
    padding: min(vw($full,6),rem(6)) min(vw($full,42),rem(42)) min(vw($full,6),rem(6)) min(vw($full,14),rem(14));
    gap: 20px;
    font-size: min(vw($full,16),rem(16));
  }
}

.p-about-dropdown-label::before {
  content: "";
  position: absolute;
  background-image: url(".././images/common/dropdown-arrow-white.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s; 
  top: 50%;
  transform: translateY(-50%); 
  z-index: 10;
  right: rem(6);
  width: 0.5em;
  height: 0.25em;
  @include mq("md") {
    right: rem(12);
    width: 0.5em;
    height: 0.25em;
  }
}

.p-about-dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: rem(3);
  @include mq("md") {
    margin-top: rem(5);
  }
}

.p-about-dropdown__body {
  display: block;
  position: relative; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: $red;
  color: $white;
  font-weight: $medium;
  line-height: 1;
  letter-spacing: 0.32px;
  transition: all 0.3s; 
  font-size: rem(10);
  padding:  rem(5) rem(15) rem(5) rem(10);
  @include mq("md") {
    padding: min(vw($full,6),rem(6)) min(vw($full,42),rem(42)) min(vw($full,6),rem(6)) min(vw($full,14),rem(14));
    gap: 20px;
    font-size: min(vw($full,16),rem(16));
  }
}

.p-about-dropdown__body::before {
  content: "";
  position: absolute;
  background-image: url(".././images/common/dropdown-arrow-white.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s; 
  top: 50%;
  transform: translateY(-50%); 
  z-index: 10;
  right: rem(6);
  width: 0.5em;
  height: 0.25em;
  @include mq("md") {
    right: rem(12);
    width: 0.5em;
    height: 0.25em;
  }
}

.show {
  display: block;
}