@use "global" as *;

.p-features-card{
  display: flex;
  flex-direction: column;
  @include mq("md") {
    flex-direction: row;
    gap: min(vw($full,70),rem(70));
    align-items: center;
  }
}

.p-features-card:nth-of-type(odd) {
  @include mq("md") {
    justify-content: left;
  }
}

.p-features-card:nth-of-type(even) {
  justify-content: right;
  @include mq("md") {
    flex-direction: row-reverse;
  }
}

.p-features-card__right-box{
  margin-top: rem(15);
  @include mq("md") {
    margin: 0;
  }
}

.p-features__card:nth-of-type(odd) .p-features-card__right-box {
  margin-left: auto;
  @include mq("md") {
    margin: 0;
  }
}

.p-features__card:nth-of-type(even) .p-features-card__right-box {
  margin-right: auto;
  @include mq("md") {
    margin: 0;
  } 
}

.p-features-card__right-box-wrap{
  width: vw(375,330);
  @include mq("md") {
    width: 100%;
  }
}

.p-features-card__img__wrap{
  display: flex;
  justify-content: right;
}

.p-features-card__img {
  width: 100%;
  max-width: min(vw(375,330),rem(500));
  aspect-ratio: 330/291;
  @include mq("md") {
    max-width: min(vw($full,811),rem(811));
    aspect-ratio: 811/716;
  }
}

.p-features-card__img img{
  height: auto;
}

.p-features-card:nth-of-type(odd) {
  .p-features-card__img,
  .p-features-card__img img{
    border-radius: 0px 40px 40px 0px;
  }
}

.p-features-card:nth-of-type(even) {
  .p-features-card__img,
  .p-features-card__img img{
    border-radius: 40px 0px 0px 40px;
  }
}

.p-features-card__top{
  display: flex;
  gap: min(vw($full,6),rem(6));
}

.p-features-card__number{
  width: 100%;
  max-width: rem(50);
  aspect-ratio: 50/54;
  @include mq("md") {
    max-width: min(vw($full,129),rem(129));
    aspect-ratio: 129/140;
  }
}

.p-features-card__number img{
  height: auto;
}

.p-features-card__sub-titles{
  display: flex;
  flex-direction: column;
  padding-top: rem(20);
  gap: min(vw($full,5),rem(5));
  @include mq("md") {
    padding-top: min(vw($full,43),rem(43));
  }
}

.p-features-card__sub-title1{
  width: 100%;
  max-width: rem(100);
  aspect-ratio: 100/11;
  @include mq("md") {
   max-width: min(vw($full,154),rem(154));
   aspect-ratio: 154/34;
  }
}

.p-features-card__sub-title2{
  width: 100%;
  max-width: rem(130);
  aspect-ratio: 130/11;
  @include mq("md") {
   max-width: min(vw($full,203),rem(203));
   aspect-ratio: 203/34;
  }
}

.p-features-card__sub-title1 img,
.p-features-card__sub-title2 img{
  height: auto;
}

.p-features-card__title{
  font-family: $second-font-family;
  line-height: 1;
  letter-spacing: 1.32px;
  font-size: rem(50);
  display: inline-block;
  @include mq("md") {
    line-height: 1.2;
    font-size: min(vw($full,66),rem(66));
    margin-top: rem(3);
  }
}

.p-features__card:first-of-type .p-features-card__title ,
.p-features__card:nth-of-type(3) .p-features-card__title {
  position: relative;
  z-index: 10;
}

.p-features__card:first-of-type .p-features-card__title::before,
.p-features__card:nth-of-type(3) .p-features-card__title:before {
  content: "";
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.p-features__card:first-of-type .p-features-card__title::before {
    right: 0;
    top: rem(-20);
    width: rem(43);
    height: rem(47);
    aspect-ratio: 43/47;
  background-image: url(".././images/about/features-card-deco1.png") ;
  @include mq("md") {
    right: min(vw($full,-55),rem(-55));
    top: min(vw($full,-48),rem(-48));
    width: min(vw($full,93),rem(93));
    height: min(vw($full,97),rem(97));
    aspect-ratio: 91/97;
  }
}

.p-features__card:nth-of-type(3) .p-features-card__title:before {
    right: rem(-40);
    top: 50%;
    transform: translateY(-50%);
    width: rem(152);
    height: rem(152);
    aspect-ratio: 1/1;
    background-image: url(".././images/about/features-card-deco2.png") ;
  @include mq("md") {
    right: min(vw($full,-84),rem(-84));
    top: 50%;
    transform: translateY(-50%);
    width: min(vw($full,232),rem(232));
    height: min(vw($full,232),rem(232));
  }
}

.p-features-card__title span{
  color: $green;
}

.p-features-card__text{
  font-weight: $medium;
  line-height: 2; 
  letter-spacing: 0.32px;
  margin-top: rem(20);
  font-size: rem(15);
  @include mq("md") {
    margin-top: min(vw($full,35),rem(35));
  }
}